@import "../styles/mixins.scss";

body {
  @include respond(phone) {
    width: 100%;
    font-size: 1rem;
    max-height: 100%;
  }
}

h1 {
  font-family: "EB Garamond", "Montesserat", "Times New Roman", serif;
  font-size: 3rem;
  text-align: center;
}
.pokedex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
  }

  &-card {
    background-color: rgb(233, 223, 223);
    color: #ff4236;
    border: 3px solid #ff4236;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.3s ease;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      height: 10rem;
      width: 15rem;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
      transform: translateY(-0.5rem) scale(1);
    }

    & > h3 {
      display: flex;
      align-items: center;

      @include respond(phone) {
        justify-content: center;
      }
    }

    & > img {
      display: flex;
      justify-self: start;
      border: 2px solid #ff4236;
      border-radius: 50%;
      background-color: rgb(230, 241, 250);

      @include respond(phone) {
        margin: 0 auto;
      }
    }
  }
}

.regions {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }

  &-card {
    // width: 100%;

        &-name {
          // margin: 1em;
          padding: 0.1em;

          & > h2 {
            font-weight: bold;
            border-radius: 8px;
            padding: 0.1em;
            text-align: center;
          }
          & > h3 {
            font-weight: bold;
            border-radius: 8px;
            padding: 0.1em;
            text-align: center;
          }
        }

    &-button {
      color: #ff4236;
      border: 2px solid #ff4236;
      background-color: #eaeaea;
      font-weight: bold;
      text-decoration: none;
      border-radius: 8px;
      padding: 0.75em;
      margin: 0 1rem 0 1rem;
      text-align: center;
      display: flex;
      justify-content: center;
      transition: 0.3s ease;

      &:hover {
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-0.5rem) scale(1);
      }
    }
  }
}

.regionList-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    width: inherit;
  }
}

.pokemonCard-region {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(233, 223, 223);
  color: #ff4236;
  border: 3px solid #ff4236;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  transition: 0.3s ease;

  @include respond(phone) {
    display: flex;
    flex-wrap: wrap;
  }

  &:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem) scale(1);
  }

  & > h3 {
    display: flex;
    align-items: center;
  }

  & > img {
    display: flex;
    justify-self: end;
    border: 2px solid #ff4236;
    border-radius: 50%;
    background-color: rgb(230, 241, 250);
    padding: 1rem;
  }
}

.pokemon {
  &-header {
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  &-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h3 {
      margin: 0;
    }

    &-type {
      display: flex;
      flex-direction: row;

      &-container {
        margin-right: 0.25rem;

        & > h3 {
          border: 1px solid #ff4236;
          border-radius: 3px;
          color: white;
          text-align: center;
          padding: 0.5rem;
          margin-right: 0.5rem;
          transition: 0.3s ease;

          &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
            transform: translateY(-0.5rem) scale(1);
          }
        }
      }
    }

    &-stats {

      & > p {
        background-color: #ff4236;
        color: #dcdcdc;
        text-align: center;
        border-radius: 3px;
      }
    }

    &-image {
      display: flex;
      justify-content: center;

      & > img {
        border: 2px solid #ff4236;
        border-radius: 50%;
        background-color: rgb(230, 241, 250);
        padding: 1rem;
        margin: 1rem;
      }
    }
  }
}
.type {
  // Types Page Styling
  &-list {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;

    & > h2 {
      padding: 0.5rem;
      margin: 0.5rem;
      color: white;
      border: 1px solid #ff4236;
      border-radius: 3px;
      width: fit-content;
      transition: 0.3s ease;

      &:hover {
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-0.5rem) scale(1);
        cursor: pointer;
      }
    }
  }

  &-pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }

  &-pokemon-card {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    transition: 0.3s ease;
    background-color: rgb(233, 223, 223);

    @include respond (phone) {
      scale: .9 .9;
    }

    &:hover {
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
      transform: translateY(-0.5rem) scale(1);
    }

    & > img {
      border-radius: 50%;
      border: 2px solid;
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: rgb(230, 241, 250);

      @include respond(phone) {
        // scale: .75 .75;
      }
    }

    & > h3 {
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond(phone) {
        font-size: 1rem;
      }
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
}

.base-stats {
  border: 2px solid #ff4236;
  border-radius: 3px;
  background-color: rgb(230, 241, 250);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 35%;
  margin: 0.5rem 0 1rem 0;
  padding-left: 1rem;

  @include respond(phone) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: inherit;
  }
}

// .abilities-stats {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

.back-home {
  background-color: #ff4236;
  color: #dcdcdc;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 3px;
  width: 20%;
  text-align: center;
  transition: .3s ease;

  @include respond(phone) {
    width: inherit
  }

  &:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem) scale(1);
  }
}
