body {
    background-color: #DCDCDC;
    font-family: 'Arial';
}

.cardType {
    padding: .5em 1em;
    border-radius: 5px;
    border: 1px solid black;
}

.pokemonCard {
    border: .25em solid red;
    border-radius: 1em;
}

.pokemonCard:hover {
    box-shadow: 5px 5px 7px grey;
}

  .pokemonImage {
      background-color: rgba(255, 255, 255, 0.65);
      border: 5px solid red;
      border-radius: 5em;
      display: grid;
      place-items: center;
      padding: 1em;
      margin: 0 auto;
  }


  .pokemonInfoDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    border: 5px solid red;
    border-radius: 5em;
    padding: 1em;
}

  .pokemonHeader {
      display: flex;
      justify-content: center;
      background-color: #FF4236;
      color: #DCDCDC;
      padding: .25em 0 .25em 0;
  }

  @media (max-width: 768px) {
    .pokemonImage {
        width: 25%;
    }

    .pokemonInfoDiv {
        width: 25%;
    }
  }