body {
    background-color: #DCDCDC;
    font-family: 'Arial'
}

.cardType {
    padding: .5em 1em;
    border-radius: 5px;
    border: 1px solid black;
}

.MuiGrid-container {
    display: flex;
    align-items: center;
}

  .pokemonImage {
      background-color: rgba(255, 255, 255, 0.65);
      border: 5px solid red;
      border-radius: 5em;
      display: flex;
      justify-content: center;
      width: 0 auto;
      height: 0 auto;
      padding: 1em;
      margin: 1em 40em 1em 40em;
  }

  .pokemonInfoDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 30em 1em 30em;
    border: .5em solid red;
    border-radius: 5em;
    padding: 1em;
}

  .pokemonHeader {
      display: flex;
      justify-content: center;
      background-color: #FF4236;
      color: #DCDCDC;
      padding: .25em 0 .25em 0;
  }
