.header {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;

  & > a {
    // color: rgb(201, 229, 253);
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-shadow: 2px 2px 5px grey;
    }
  }
}
