.pokedex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aliceblue;

  &-card {
    border: 3px solid red;
    border-radius: 5px;
    background-color: rgb(190, 224, 240);
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    & > h3 {
      display: flex;
      align-items: center;
    }

    & > img {
      display: flex;
      justify-self: end;
      border: 2px solid red;
      border-radius: 50%;
      background-color: rgb(230, 241, 250);
    }
  }
}

.regions {
  margin: 1em;
  
  &-card {
    width: 100%;
    
    &-content {
      height: 30rem;
      width: inherit;
      border-radius: 20px;
    }

    &-name {
      margin: 1em;
      width: 7%;
      padding: .10em;
      
      & > h2 {
        color: rgb(233, 223, 223);
        font-weight: bold;
        background-color: rgba(254, 69, 56);
        border-radius: 8px;
        padding: .10em;
        text-align: center;
      }
    }

    &-button {
      color: rgb(233, 223, 223);
      background-color: #FF4236;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid black;
      border-radius: 8px;
      padding: .5em;
      width: 14%;
      text-align: center;
      display: inherit;
      justify-content: last baseline;
      margin-top: 1em;
      transition: 0.3s ease;

      &:hover {
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-0.5rem) scale(1);
      }
    }
  }
}

.regionList-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pokemonCard-region {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:rgb(233, 223, 223);
  color: red;
  border: 3px solid red;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  transition: 0.3s ease;

  &:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem) scale(1);
  }

  & > h3 {
    display: flex;
    align-items: center;
  }

  & > img {
    display: flex;
    justify-self: end;
    border: 2px solid red;
    border-radius: 50%;
    background-color: rgb(230, 241, 250);
    padding: 1rem;
}

}