body {
  margin: 0;
  font-family: "Futura", "Avenir", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(96, 96, 96);
  background-color: aliceblue;
}